body {
  overflow: hidden;
}

#mobile {
  display: block;
}
#desktop {
  display: none;
}

@media screen and (min-width: 1000px) {
  #mobile {
    display: none;
  }
  #desktop {
    display: block;
  }
}
