{% extends "base.html" %}
{% block content %}

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/browse.css') }}">
    <script src="../css/scripts/browse.js"> </script>
    {#<script rel="script" href="{{ url_for('static', filename='scripts/browse.js') }}"></script>#}
</head>

<div class="container">

{# /////////////////////// INDIVIDUAL BIKE BOX TEMPLATE \\\\\\\\\\\\\\\\\\\\\\   #}

    <div class="button-area">
        <form action="/browse">
           <input class="btn btn-details back-button" type="submit" value="Back to browsing menu" />
        </form>
    </div>

    <div class="individual-bike-box">
      <div class="individual-bike-photo-section">

          <div id="gallery-wrapper">
            <div id="gallery">
                {#  This will later loop through bike photos in database, now just 10 times #}
               {% for n in range(10) %}
                   <!--
                    *    The following divider was made with the help of Codepen picture gallery tutorial
                    *    Title: Pure CSS Image Gallery with Next and Previous Buttons
                    *    Author: Tiffany Ong
                    *    Date: 2015
                    *    Availability: https://codepen.io/ongtiffany/pen/PPbPyB
                    -->

                    <div id="pic{{ n+1 }}">
                      {% if loop.index is divisibleby(2) %}
                        <a class="previous" href="#pic{{ n }}">«</a>
                        <a class="next" href="#pic{{ n + 2 }}">»</a>
                        <!-- <img class="individual-bike-photo"
                             src="http://www.arrowcycles.co.uk/images/spec/187197.jpg?maxheight=1200" width="100%" alt="Image 1"> -->

                        <img class="individual-bike-photo"
                            src="http://www.arrowcycles.co.uk/images/spec/187197.jpg?maxheight=1200" width="100%" alt="Image 1">

                      {% else %}
                        <a class="previous" href="#pic{{ n }}">«</a>
                        <a class="next" href="#pic{{ n + 2 }}">»</a>
                        <img class="individual-bike-photo"
                             src="{{image}}" width="100%" alt="Image 1">
                      {% endif %}
                    </div>

               {% endfor %}

            </div>

          </div>

        <div class="bike-price-label">
           PRICE/PERIOD
        </div>

      </div>

      <hr class="seperator">

      <div class="bike-name-section">
          {{brand + " " + model + " "}}
          <button class="btn btn-details" type="submit">RENT</button>
      </div>



    </div>

    <div class="bike-description">
        <h2>Bicycle Description</h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sollicitudin tempor id eu nisl nunc mi. Integer eget aliquet nibh praesent tristique magna sit amet. Imperdiet nulla malesuada pellentesque elit eget. Ac ut consequat semper viverra nam. Gravida arcu ac tortor dignissim. Id ornare arcu odio ut sem nulla. Habitasse platea dictumst quisque sagittis purus sit amet. Urna id volutpat lacus laoreet non. Sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Volutpat maecenas volutpat blandit aliquam etiam. Eu feugiat pretium nibh ipsum consequat nisl vel pretium lectus. Commodo quis imperdiet massa tincidunt. Neque laoreet suspendisse interdum consectetur libero id faucibus nisl tincidunt.
    </div>

{# /////////////////////// END OF INDIVIDUAL BIKE BOX TEMPLATE \\\\\\\\\\\\\\\\\\\\\\   #}

</div>
<!-- //////////////////// END CONTAINER DIV \\\\\\\\\\\\\\\\\\\\\\\ -->


{% endblock %}
