{% extends "about.html" %}
{% block content %}

<div id="map"></div>

<script>
function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 15
  });
  var geocoder = new google.maps.Geocoder();
  var address = "Leeds Headingley"

  var infowindow = new google.maps.InfoWindow({
      content: "<h4>Store name</h4>" +
                "<b>Address:</b> some address here</br>" +
                "<b>Phone:</b> 123456789</br>" +
                "<b>Bikes in store:</b> 20</br>"
  });

  geocoder.geocode({'address': address}, function(results, status) {
    if (status === 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
        map: map,
        position: results[0].geometry.location,
        title: "16 Cycles"
      });
      marker.addListener('click', function() {
      infowindow.open(map, marker);
      });


    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });


  var myLatLng = {lat: 53.806631, lng: -1.555035};
  var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: 'Hello World!'
    });


  google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){
      return function() {
          infowindow.setContent(content);
          infowindow.open(map,marker);
      };
  })(marker,content,infowindow));

  myLatLng = {lat: 53.810829, lng: -1.538412};
  marker = new google.maps.Marker({
        position: myLatLng,
        infowindow: infowindow,
        map: map,
        title: 'Hello World!'
      });


        google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){
            return function() {
                infowindow.setContent(content);
                infowindow.open(map,marker);
            };
        })(marker,content,infowindow));


  }

</script>



<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCY36qrgn3bctMLfK9BUiOBm7nP2rSPygo&callback=initMap">
</script>

{% endblock %}
